{% load static %}
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>{% block title %}{% endblock %}</title>
    <header>{% include 'users/includes/auth_header.html' %}</header>
  </head>
  <body>
    {% block content %}{% endblock %}
    <hr>
    {% with request.resolver_match.view_name as view_name %}
      {% if view_name != "payment:cart" %}
        {% include "payment/includes/go_to_cart.html" %}
      {% endif %}
    {% endwith %}
  </body>
  <footer>
    {% block footer %}{% endblock %}
    {% with request.resolver_match.view_name as view_name %}
      {% if view_name != "payment:index" %}
        {% include "payment/includes/back_to_main.html" %}
      {% endif %}
    {% endwith %}
  </footer>
</html>