{% extends "payment/base.html" %}
{% block title %}Cart{% endblock %}
{% block content %}
<h1>Cart content</h1>
<h3>Total different items in cart: {{ object_list.count }}</h3>
  {% for object in object_list %}
    <p>{{ object.order }}</p>
    <p>{{ object.item }}</p>
    <p>Count: {{ object.count }}</p>
    <p>Price: {{ object.item.price }}</p>
    {% if object %}
      <p><a href="{% url 'payment:delete_from_cart' object.item.pk %}">Delete item</a></p>
      <p><a href="{% url 'payment:set_item_count' object.item.pk %}">Set item count</a></p>
    {% endif %}
    {% if not forloop.last %}
      <hr>
    {% endif %}
  {% endfor %}
  <hr>
  <h3>Total price:</h3>
  {% if total_price %}
    <p>{{ total_price }}</p>
  {% else %}
    <p>Total price here will be as Yoda said</p>
  {% endif %}
  <hr>
  {% if object_list %}
    <a href="{% url 'payment:proceed_with_payment' %}">Proceed with payment</a>
  {% endif %}
  {% include "payment/includes/back_to_main.html" %}
{% endblock %}