{% extends "base.html" %}
{% block title %}Item "{{ object.name }}" Info{% endblock %}
{% block content %}
<section>
  <h1><p>You are looking:</p></h1>
  <ul>
    <li><p>Item name: {{ object.name }}</p></li>
    <li><p>Item description: {{ object.description }}</p></li>
    <li><p>Item price: {{ object.price }}</p></li>
  </ul>
  <!-- <p><a href="{% url 'payment:buy' object.pk %}">Buy</a></p> -->
  <p><a href="{% url 'payment:add_to_cart' object.pk %}">Add to Cart</a></p>
</section>
{% include "payment/includes/back_to_main.html" %}
{% endblock %}